[submodule "third_party/json"]
	path = third_party/json
	url = git@github.com:lil-brumski/json.git
[submodule "third_party/termcolor"]
	path = third_party/termcolor
	url = git@github.com:lil-brumski/termcolor.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = git@github.com:lil-brumski/argparse.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = git@github.com:lil-brumski/cpp-httplib.git
[submodule "third_party/regex"]
	path = third_party/regex
	url = git@github.com:lil-brumski/regex.git
